<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
<!-- Tables Section -->
<section>
<h2>Information Overview</h2>
<table class="table">
<caption>Employee Details</caption>
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Contact Email</th>
<th scope="col">Contact Number</th>
</tr>
</thead>
<tbody>
<tr>
<td>Alex Johnson</td>
<td>alex.johnson@domain.com</td>
<td>555-0101</td>
</tr>
<tr>
<td>Chris Lee</td>
<td>chris.lee@domain.com</td>
<td>555-0102</td>
</tr>
<tr>
<td>Morgan Bailey</td>
<td>morgan.bailey@domain.com</td>
<td>555-0103</td>
</tr>
</tbody>
<tfoot>
<tr>
<td colspan="3">Employee Count: 3</td>
</tr>
</tfoot>
</table>
 
    <table class="table">
<caption>Inventory List</caption>
<thead>
<tr>
<th scope="col">Item Name</th>
<th scope="col">Cost</th>
<th scope="col">Available</th>
</tr>
</thead>
<tbody>
<tr>
<td>USB Cable</td>
<td>$5.99</td>
<td>Yes</td>
</tr>
<tr>
<td>Wireless Mouse</td>
<td>$15.99</td>
<td>Yes</td>
</tr>
<tr>
<td>Keyboard</td>
<td>$22.99</td>
<td>No</td>
</tr>
</tbody>
<tfoot>
<tr>
<td colspan="2">Total Items</td>
<td>3</td>
</tr>
</tfoot>
</table>
 
<p>This section outlines two key areas: the first table highlights our employee directory with contact details, while the second table reveals our current product inventory, including prices and availability.</p>
 
</section>
 
<!-- Lists Section -->
<section>
<h2>Development Goals</h2>
<ol>
<li>Finish Full Stack Developer Course
<ul>
<li>Master HTML5 and CSS3</li>
<li>Advance in JavaScript and ES6</li>
<li>Explore Node.js and Express</li>
</ul>
</li>
<li>Engage in Coding Challenges
<ul>
<li>Master Algorithms and Data Structures</li>
<li>Understand System Design Fundamentals</li>
<li>Tackle Complex Problems with Efficient Solutions</li>
</ul>
</li>
<li>Develop and Launch Personal Projects</li>
<li>Participate in Community Coding Projects</li>
<li>Study for Software Engineering Interviews</li>
</ol>
<p>This list delineates my objectives towards becoming a proficient full-stack software engineer. Detailed steps under certain objectives offer a roadmap of specific skills and tasks to be accomplished within the overarching goals.</p>
</section>
 
<!-- Images Section -->
<section>
<h2>Images</h2>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder performing a trick" />
<p>This image section contains photographs showcasing various subjects and scenes.</p>
</section>
 
<!-- Audio Section -->
<section>
<h2>Audio</h2>
<audio controls>
<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
        Your browser does not support the audio tag.
</audio>
<p>This section includes an HTML5 audio player that allows you to listen to sample audio tracks.</p>
</section>


		<!-- End your code here  -->



	</main>
</div>